# Ignore unnecessary files
.ipynb_checkpoints/
__pycache__/
*.csv
*.log
*.tmp
*.DS_Store
*.zip
*.tar
*.gz
*.npy
*.pkl
*.h5

# Ignore large data directories
datasets/
results/
denoisers/
cache/

# Allow only specific file types
!*.ipynb
!*.py
!README.md
